<!DOCTYPE html>    {% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Kenneth Nwafor">
    <title>{{ title }}</title>
    {% block links %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://franch5.ru/js/lib/jquery.maskedinput.min.js?ver=1.0"></script>

        <script src="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <link rel="stylesheet" href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block local_links %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
<div class="container">
{#    <div class="row">#}
{#        <div class="col-md-4"></div>#}
{#        <div class="col-md-4">#}
            {% block logo %}
                {#<div style=" padding: 40px; max-width: 600px;margin: 40px auto;">#}
                {#    <img src="{% static 'images/logo.png' %}" style="width: 100%">#}
            {% endblock %}
            {% block content %}
            {% endblock %}
{#        </div>#}
{#        <div class="col-md-4"></div>#}
{#    </div>#}
</div>
    {% block script %}
<script>
    $(document).ready(function() {
        // masked input
        $("input.phone").mask("+7 (999) 999-99-99");
        $("input.phone").attr("placeholder", "+7 (999) 999-99-99");

    });
</script>
{% endblock %}
{%  endblock %}
</body>
<footer>
{% block footer %}
{% endblock %}
</footer>
</html>