{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'partners:change_password' code=code %}?email={{ email }}" class="form-signin">
    <h3 class="form-signin-heading">Установите новый пароль</h3>
    {% csrf_token %}
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="errorlist alert-danger">
        {{ form.non_field_errors }}
    </div>
    <div class="field-wrap first-input">
        <div class="errorlist alert-danger">
            {{ form.password.errors }}
        </div>
        {{ form.password }}
    </div>
    <div class="field-wrap last-input">
        <div class="errorlist alert-danger">
            {{ form.password.password2 }}
        </div>
        {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary">Сохранить изменения</button>
</form>
    <script>
    var password = document.getElementById("id_password");
    var confirm_password = document.getElementById("id_password2");

    function validatePassword(){
        if(password.value.length < 6){
            password.setCustomValidity("Пароль должен содержить хотя бы 6 символов.");
        } else {
             password.setCustomValidity('');
        }
        if(password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Пароли не совпадают.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}