{% extends 'partners_base.html' %}
{% load static %}
{#{% block local_links %}#}
{#    <script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>#}
{#{% endblock %}#}
{% block custom_style %}
    <style>
        .block-end {
            margin-bottom: 50px;
        }
        table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
            content: " \25B4\25BE"
        }
        table.sortable thead {
            background-color: lightgray;
            color: #000000;
            font-weight: bold;
            cursor: default;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block maincontent %}
{#{% for message in messages %}#}
{#    <div class="alert alert-{{ message.level_tag }} alert-dismissable">#}
{#        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
{#        {{ message }}#}
{#    </div>#}
{#{% endfor %}#}
{#{% if not partner.payment_data %}#}
{#<p> С вами свяжутся для активации партнера. Для начала работы необходима заполнить данные платежей</p>#}
{#<a class="btn btn-primary block-end" href="{% url 'partners:payment_data' %}">Заполнить данные договора и платежей</a>#}
{#{% endif %}#}
<p class="block-end">Ваша ссылька для добавления продажа вы можете отправить ее продавцу <br>
    <a href="{{ website }}{% url 'cashier:add_sale' slug=partner.cashier_secret %}" target="_blank">{{ website }}{% url 'cashier:add_sale' slug=partner.cashier_secret %}</a></p>
<p>Продаж в этом месяце: {{ month_sales }} Р</p>
<p>Неоплаченных счетов: {{ unpaid }} Р</p>
<div>
    <table id="payments_table" class="sortable table table-striped table-bordered table-cover">
        <thead>
        <tr>
            <th>Номер счета</th>
            <th>Дата счета</th>
            <th>Дедлайн оплаты</th>
            <th>Сумма</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in partner.payments.all %}
            <tr>
                <td><a class="btn btn-block" href="{% url 'partners:download_invoice' partner_id=partner.id invoice_number=payment.invoice_number%}" target="_blank">{{ payment.invoice_number }}</a></td>
                <td><span class="date" style="display: none">{{ payment.created|date:"U" }}</span>{{ payment.created }}</td>
                <td><span class="date" style="display: none">{{ payment.payment_date|date:"U" }}</span>{{ payment.payment_date }}</td>
                <td>{{ payment.sum }}</td>
                <td>{{ payment.get_status_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#{% endif %}#}
{% endblock %}