{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'partners:forgot_password' %}" class="form-signin">
    <h3 class="form-signin-heading">Введите почту и мы вам отправим ссылку для восстановления пароля</h3>
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% csrf_token %}
    <div class="errors alert-danger">
        {{ form.non_field_errors }}
    </div>
    <div class="field-wrap first-input last-input">
        <div class="errors alert-danger">
            {{ form.email.errors }}
        </div>
        {{ form.email }}
    </div>
    <button type="submit" class="btn btn-block btn-primary btn-lg">Отправить</button>
</form>
{% endblock %}