{% extends 'base.html' %}
{% block content %}
<form action="{% url 'partners:login' %}{% if next %}?next={{ next }}{% endif %}" method="post" class="form-signin">
  <h2 class="form-signin-heading">С Возвращением!</h2>
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="errors alert-danger">
        {{ login_form.non_field_errors }}
    </div>

    <div class="field-wrap first-input">
        <div class="errors alert-danger">
            {{ login_form.email.errors }}
        </div>
        {{ login_form.email }}
    </div>

    <div class="field-wrap last-input">
        <div class="errors alert-danger">
            {{ login_form.password.errors }}
        </div>
        {{ login_form.password }}
    </div>

    <button type="submit" class="btn btn-lg btn-block  btn-primary last-input">Войти</button>
    <p class="full-line-link"><a href="{% url 'partners:register' %}">Стать партнером</a></p>
    <p class="full-line-link"><a href="{% url 'partners:forgot_password' %}">Восстановления пароля</a></p>
</form>
<script>
    var password = document.getElementById("id_password");

    function validatePassword(){
        if(password.value.length < 6){
            password.setCustomValidity("Пароль должен содержить хотя бы 6 символов.");
        } else {
             password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
</script>
{% endblock %}