{% extends 'base.html' %}
{% block content %}
{#    <div class="col-md-4"></div>#}
<div class="form-group">

      <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#login">Авторизация</a></li>
          <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#signup">Регистрация</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup" role="tabpanel" class="tab-pane fade">
{#            <h3 class="form-signin-heading">Зарегистрируйтесь и станьте партнером!</h3>#}
            <form action="{% url 'partners:register' %}" method="post" class="form">
                {% csrf_token %}
                <div class="errors">
                    {{ register_form.non_field_errors }}
                </div>
                <div class="field-wrap">
                    <div class="errors">
                        {{ register_form.email.errors }}
                    </div>
                    {{ register_form.email }}
                </div>
                <div class="field-wrap">
                    <div class="errors">
                        {{ register_form.phone.errors }}
                    </div>
                    {{ register_form.phone }}
                </div>
                <div class="field-wrap">
                    <div class="errors">
                        {{ register_form.password.errors }}
                    </div>
                    {{ register_form.password }}
                </div>
                <div class="field-wrap">
                    <div class="errors">
                        {{ register_form.password2.errors }}
                    </div>
                    {{ register_form.password2 }}
                </div>
                <input type="submit" class="btn btn-lg btn-block btn-primary" value="Зарегистроваться"/>

            </form>
        </div>

        <div id="login" role="tabpanel" class="tab-pane fade in active">
{#          <h2>С Возвращением!</h2>#}

          <form action="{% url 'partners:login' %}" method="post" class="form">

              {% csrf_token %}

              <div class="errors">
                  {{ login_form.non_field_errors }}
              </div>

              <div class="field-wrap">
                  <div class="errors">
                      {{ login_form.email.errors }}
                  </div>
                  {{ login_form.email }}
              </div>

              <div class="field-wrap">
                  <div class="errors">
                      {{ login_form.password.errors }}
                  </div>
                  {{ login_form.password }}
              </div>

              <p class="forgot"><a href="#">Забыли пароль?</a></p>
              <input type="submit" class="btn btn-lg btn-block  btn-primary" value="Войти"/>

          </form>

        </div>

      </div><!-- tab-content -->

</div>
{% endblock %}