{% extends 'base.html' %}
{% load static %}
{% block local_links %}
    <script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
    {% block custom_style %}
    {% endblock %}
    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
{#            align-items: center;#}
        }

    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href='{% url 'partners:control_panel' %}'>
            <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            CBF
        </a>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            {% block nav %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'partners:control_panel' %}">
                        Панель управления
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'partners:sales' %}">
                        Список продаж
                    </a>
                </li>
            </ul>
            {% endblock %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'partners:logout' %}">
                        Выход
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    {% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.level_tag }} alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
    {% if not partner.payment_data %}
    <div class="row col mx-auto my-auto justify-content-center align-self-center justify">
        <p> С вами свяжутся для активации партнера. Для начала работы необходимо заполнить данные платежей.</p>
        <a class="btn btn-primary block-end" href="{% url 'partners:payment_data' %}">Заполнить данные договора и платежей</a>
    </div>
    {% elif partner.is_new %}
    <div class=" row mx-auto my-auto justify-content-center align-self-center justify">
        <h2>Ожидайте активации.</h2>
    </div>
    {% else %}
    {% block maincontent %}
    {% endblock %}
    {% endif %}
    {% endblock %}
    </div>
{% endblock %}
