{% extends 'partners_base.html' %}
{% block custom_style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        hr.thick-line {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 5px solid rgba(12, 12, 12, 0.47);
        }
        div.col-sm-8 {
            max-width: 100%;
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'partners:control_panel' %}">
                Панель управления
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'partners:sales' %}">
                Список продаж
            </a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <form action="{% url 'partners:payment_data' %}" method="post">
                {% csrf_token %}
                <div>
                    <h3>Данные для договора</h3>
                    <hr class="thick-line"/>
                    <h5>Данные о компании</h5><hr/>
                    <div class="row input-block">
                        <div class="col-sm-8">
                            <div class="errors alert-danger">
                                {{ payment_form.non_field_errors }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.ownership.errors }}
                                </div>
                                {{ payment_data_form.ownership.label_tag }}
                                {{ payment_data_form.ownership }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.inn.errors }}
                                </div>
                                {{ payment_data_form.inn.label_tag }}
                                {{ payment_data_form.inn }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.kpp.errors }}
                                </div>
                                {{ payment_data_form.kpp.label_tag }}
                                {{ payment_data_form.kpp }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.ogrn_ogrnip.errors }}
                                </div>
                                {{ payment_data_form.ogrn_ogrnip.label_tag }}
                                {{ payment_data_form.ogrn_ogrnip }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.reg_date.errors }}
                                </div>
                                {{ payment_data_form.reg_date.label_tag }}
                                <div class="input-group date" data-provide="datepicker">
                                    {{ payment_data_form.reg_date }}
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ payment_data_form.fio.errors }}
                                </div>
                                {{ payment_data_form.fio.label_tag }}
                                {{ payment_data_form.fio }}

                            </div>
                        </div>
                    </div>
                    <h5>Контакты Организации</h5><hr/>
                    <div class="row input-block">
                        <div class="col-sm-8">
                            <div class="errors alert-danger">
                                {{ contact_form.non_field_errors }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ contact_form.phone.errors }}
                                </div>
                                {{contact_form.phone.label_tag }}
                                {{ contact_form.phone }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ contact_form.fax.errors }}
                                </div>
                                {{ contact_form.fax.label_tag }}
                                {{ contact_form.fax }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ contact_form.email.errors }}
                                </div>
                                {{ contact_form.email.label_tag }}
                                {{ contact_form.email }}
                            </div>
                        </div>
                    </div>
                    <h5>Юридический адрес</h5><hr/>
                    <div class="row input-block">
                        <div class="col-sm-8">
                            <div class="errors alert-danger">
                                {{ legal_address_form.non_field_errors }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.index.errors }}
                                </div>
                                {{ legal_address_form.index.label_tag }}
                                {{ legal_address_form.index }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.country.errors }}
                                </div>
                                {{ legal_address_form.country.label_tag }}
                                {{ legal_address_form.country }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.locality.errors }}
                                </div>
                                {{ legal_address_form.locality.label_tag }}
                                {{ legal_address_form.locality }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.street.errors }}
                                </div>
                                {{ legal_address_form.street.label_tag }}
                                {{ legal_address_form.street }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.house.errors }}
                                </div>
                                {{ legal_address_form.house.label_tag }}
                                {{ legal_address_form.house }}
                            </div>
                            <div class="field-wrap form-group">
                                <div class="errors alert-danger">
                                    {{ legal_address_form.office.errors }}
                                </div>
                                {{ legal_address_form.office.label_tag }}
                                {{ legal_address_form.office }}

                            </div>
                        </div>
                    </div>
                </div>
                <h3 style="margin-top: 40px">Расчётный счёт</h3>
                <hr class="thick-line"/>
                <div class="row input-block">
                    <div class="col-sm-8">
                        <div class="errors alert-danger">
                            {{ account_form.non_field_errors }}
                        </div>
                        <div class="field-wrap form-group">
                            <div class="errors alert-danger">
                                {{ account_form.account_name.errors }}
                            </div>
                            {{ account_form.account_name.label_tag }}
                            {{ account_form.account_name }}
                        </div>
                        <div class="field-wrap form-group">
                            <div class="errors alert-danger">
                                {{ account_form.bik.errors }}
                            </div>
                            {{ account_form.bik.label_tag }}
                            {{ account_form.bik }}
                        </div>
                        <div class="field-wrap form-group">
                            <div class="errors alert-danger">
                                {{ account_form.korr_account.errors }}
                            </div>
                            {{ account_form.korr_account.label_tag }}
                            {{ account_form.korr_account }}
                        </div>
                        <div class="field-wrap form-group">
                            <div class="errors alert-danger">
                                {{ account_form.rasc_account.errors }}
                            </div>
                            {{ account_form.rasc_account.label_tag }}
                            {{ account_form.rasc_account }}
                        </div>
                        <button style="margin-top: 40px; margin-bottom: 40px" type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script>
    $(document).ready(function() {
        // masked input
        $("input.phone").mask("+7 (999) 999-99-99");
        $("input.phone").attr("placeholder", "+7 (999) 999-99-99");

        $('.date').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '1990-01-01',
            endDate: '0d'
        });
    });
</script>
{% endblock %}