{% extends 'base.html' %}
{% block content %}

<form action="{% url 'partners:register' %}" method="post" class="form-signin">
    <h3 class="form-signin-heading">Зарегистрируйтесь и станьте партнером!</h3>
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="errors alert-danger">
        {{ register_form.non_field_errors }}
    </div>
    <div class="field-wrap first-input">
        <div class="errors alert-danger">
            {{ register_form.email.errors }}
        </div>
        {{ register_form.email }}
    </div>
    <div class="field-wrap">
        <div class="errors alert-danger">
            {{ register_form.phone.errors }}
        </div>
        {{ register_form.phone }}
    </div>
    <div class="field-wrap">
        <div class="errors alert-danger">
            {{ register_form.password.errors }}
        </div>
        {{ register_form.password }}
    </div>
    <div class="field-wrap last-input">
        <div class="errors alert-danger">
            {{ register_form.password2.errors }}
        </div>
        {{ register_form.password2 }}
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary last-input">Зарегистроваться</button>
    <p><a href="{% url 'partners:login' %}">Вход</a><a href="{% url 'partners:forgot_password' %}" style="float: right">Восстановления пароля</a></p>

</form>
<script>
    var password = document.getElementById("id_password");
    var confirm_password = document.getElementById("id_password2");

    function validatePassword(){
        if(password.value.length < 6){
            password.setCustomValidity("Пароль должен содержить хотя бы 6 символов.");
        } else {
             password.setCustomValidity('');
        }
        if(password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Пароли не совпадают.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}