{% extends 'partners_base.html' %}
{% block custom_style %}
    <style>
        div.col-sm-8 {
            max-width: 100%;
            margin: 0 auto;
        }
        table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
            content: " \25B4\25BE"
        }
        table.sortable thead {
            background-color: lightgray;
            color: #000000;
            font-weight: bold;
            cursor: default;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'partners:control_panel' %}">
                Панель управления
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'partners:sales' %}">
                Список продаж
                <span class="sr-only">(current)</span>
            </a>
        </li>
    </ul>
{% endblock %}
{% block maincontent %}
{#{% if not partner.is_new %}#}
{#<div class=" row mx-auto my-auto justify-content-center align-self-center justify">#}
{#    <h2>Ожидайте активации.</h2>#}
{#</div>#}
{#{% else %}#}
{#     <div class="row">#}
{#        <div class="col-sm-8">#}
            <h3 class="form-signin-heading">Список продаж</h3>
            <table id="sales_table" class="sortable table table-striped table-bordered table-hover">
                <thead class="table-inverse">
                    <tr>
                        <th>Время</th>
                        <th>Сумма</th>
                        <th>Категория</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody id="sales_table_body">
                    {% for sale in sales %}
                        <tr id="sales-row{{ sale.id }}">
                            <td><span class="date" style="display: none">{{ sale.created|date:"U" }}</span>{{ sale.created }}</td>
                            <td>{{ sale.sum }}</td>
                            <td>{{ sale.category }}</td>
                            <td>{{ sale.client.code }}</td>
                            <td>{{ sale.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{#        </div>#}
{#     </div>#}
{#{% endif %}#}
{% endblock %}