{% extends 'base.html' %}
{% load static %}
{% block local_links %}
    <script src="{% static 'js/typeahead.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .content {
          max-width: 100%;
          padding: 15px;
          margin: 0 auto;
        }
        .address-block {
            margin-bottom: 10px;
        }
        .address-block .form-group{
            margin-bottom: -1px;
        }
        .address-block .form-group input{
             border-radius: 0;
        }
        .address-block .last-input input {
          border-bottom-right-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
        .address-block .first-input input {
          border-top-right-radius: 0.25rem;
          border-top-left-radius: 0.25rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row container">
        <div class="col-sm-8">
            <h2>Добро пожаловать</h2>
            <h4>Для активации вашего аккаунта заполните необходимую информацию</h4>
            <form accept-charset="utf-8" method="post" action="{% url 'partners:setup' %}">
                {% csrf_token %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="errors alert-danger">
                    {{ setup_form.non_field_errors }}
                </div>
                <div class="form-group">
                    <div class="errorlist alert-danger">
                        {{ setup_form.name.errors }}
                    </div>
                    {{ setup_form.name.label_tag }}
                    {{ setup_form.name }}
                </div>
                <div class="form-group">
                    <div class="errorlist alert-danger">
                        {{ setup_form.city.errors }}
                    </div>
                    {{ setup_form.city.label_tag }}
                    {{ setup_form.city }}
                </div>
                <div class="form-group">
                    <div class="errorlist alert-danger">
                        {{ setup_form.website.errors }}
                    </div>
                    {{ setup_form.website.label_tag }}
                    {{ setup_form.website }}
                </div>
                <div class="form-group">
                    <div class="errorlist alert-danger">
                        {{ setup_form.percent.errors }}
                    </div>
                    {{ setup_form.percent.label_tag }}
                    {{ setup_form.percent }}
                    <p>Процент делится между покупателем и пригласившим покупателя.
                        Большой процент выделит вас среди конкурентов в каталоге.
                    </p>
                </div>
                <div class="form-group">
                    <div class="errorlist alert-danger">
                        {{ setup_form.products.errors}}
                    </div>
                    {{ setup_form.products.label_tag }}
                    {{ setup_form.products }}
                </div>
                <h4>Адреса</h4>
{#                {{ setup_form.as_p }}#}
                {{ address_formset.management_form }}
                <div class="row">
                    <div class="col-sm-8">
                        <div id="formset" class="table">
                            {% with 1 as count %}
                            {% for formset in address_formset.forms %}
                                <div class="address-block">
                                    Адрес {{ forloop.counter }}
                                    <div class="errors alert-danger">
                                        {{ formset.non_field_errors }}
                                    </div>
                                    <div class="form-group first-input">
                                        <div class="errorlist alert-danger">
                                            {{ formset.address.errors }}
                                        </div>
                                        {{ formset.address }}
                                    </div>
                                    <div class="form-group">
                                        <div class="errorlist alert-danger">
                                            {{ formset.phone.errors }}
                                        </div>
                                        {{ formset.phone }}
                                    </div>
                                    <div class="form-group last-input">
                                        <div class="errorlist alert-danger">
                                            {{ formset.work_hours.errors }}
                                        </div>
                                        {{ formset.work_hours }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% endwith %}
                        </div>
                        <p style="margin-bottom: 30px; margin-top: -10px"><a id="add_more" href="#">+Новый адрес</a></p>
                        <div id="empty_form" style="display:none">
                            <div class="address-block">
                                Адрес__
                                <div class="errors alert-danger">
                                        {{ address_formset.empty_form.non_field_errors }}
                                </div>
                                <div class="form-group first-input">
                                    <div class="errorlist alert-danger">
                                        {{ address_formset.empty_form.address.errors }}
                                    </div>
                                    {{ address_formset.empty_form.address }}
                                </div>
                                <div class="form-group">
                                    <div class="errorlist alert-danger">
                                        {{ address_formset.empty_form.phone.errors }}
                                    </div>
                                    {{ address_formset.empty_form.phone }}
                                </div>
                                <div class="form-group last-input">
                                    <div class="errorlist alert-danger">
                                        {{ address_formset.empty_form.work_hours.errors }}
                                    </div>
                                    {{ address_formset.empty_form.work_hours }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" value="Завершить регистрацию" type="submit">
            </form>
        </div>
    </div>

    <script>
    $('#add_more').click(function(event) {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#formset').append($('#empty_form').html().replace(/__prefix__/g, form_idx)
            .replace(/Адрес__/g, 'Адрес ' + (parseInt(form_idx) + 1)));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        event.preventDefault();
    });
    $("#formset").on('DOMNodeInserted', function () {
        $("input.phone").mask("+7 (999) 999-99-99");
        $("input.phone").attr("placeholder", "+7 (999) 999-99-99");
    });
    $(document).ready(function() {
        $('#id_city').keydown(function(event){
            if(event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
    });
    var cityList = null;
    var cityBloodhood = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
        url: '/static/ref-books/russia-cities.json',
        filter: function(list) {
            cityList = list;
            console.log(list);
            return $.map(list, function(cityName) {
                return { name: cityName }; });
                }
            }
    });
    cityBloodhood.initialize();

    $('#id_city').typeahead({
        hint: true,
        highlight: true,
        minLength: 1,
        freeInput: false
    }, {
        name:'cities',
        source: cityBloodhood.ttAdapter(),
            displayKey: 'name',
        valueKey: 'name'
    }).blur(function(){
        if(!exists(Object.values(cityBloodhood.index.datums), $(this).val())) {
            $(this).val("");
        }
    });

    function exists (array, key) {
        for(var i=0; i<array.length; i++){
            if(array[i].name === key)return true;
        }
        return false;
    }

    var productsBloodhood = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
        url: '/partners/products-list',
        filter: function(list) {
            return $.map(list, function(productName) {
                return { name: productName }; });
                }
            }
    });
    productsBloodhood.initialize();

    $('#id_products').tagsinput({
        typeaheadjs: {
            name: 'productsBloodhood',
            displayKey: 'name',
            valueKey: 'name',
            source: productsBloodhood.ttAdapter()
        },
        freeInput: true
    });
    </script>
{% endblock %}