<div class="form">
    <form method="post" id="new_sale_form" action="{% url 'cashier:add_sale' slug=cashier_secret %}" class="form-signin">
        {% csrf_token %}
        <h3 class="form-signin-heading">Добавление продаж</h3>
            <div class="errors">
            {{ add_sale_form.non_field_errors }}
        </div>
        <div class="field-wrap first-input">
            <div class="errors">
                {{ add_sale_form.category.errors }}
            </div>
            {{ add_sale_form.category }}
        </div>
        <div class="field-wrap">
            <div class="errors">
                {{ add_sale_form.client_code.errors }}
            </div>
            {{ add_sale_form.client_code }}
        </div>
        <div class="field-wrap last-input">
            <div class="errors">
                {{ add_sale_form.sum.errors }}
            </div>
            {{ add_sale_form.sum }}
        </div>
        <button type="submit" id="submit_sale" class="submit-sale btn btn-lg btn-block btn-primary">Добавить</button>
    </form>
</div>