{%  extends 'base.html' %}
{% load static %}
{% block local_links %}
    <script type="text/javascript" src="{% static 'js/typeahead.js' %}"></script>
    <script src="https://rawgit.com/makeusabrew/bootbox/f3a04a57877cab071738de558581fbc91812dce9/bootbox.js"></script>
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
    <style>
        table.sortable {
{#            width: 70%;#}
        }
        table.sortable thead {
            background-color: lightgray;
            color: #000000;
            font-weight: bold;
            cursor: default;
        }
        table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
            content: " \25B4\25BE"
        }
        body {
            padding: 30px;
            background-color: white;
        }
        .form-signin {
            margin: 10px;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div id="form_div"  class="row form">
            {% include 'add_sale_form.html' %}
        </div>
        <div id="messages">
            {% include 'messages.html' %}
        </div>
        <table id="sales_table" class="sortable table table-striped table-bordered table-hover">
        <thead class="">
            <tr>
                <th>Время</th>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Клиент</th>
{#                <th></th>#}
            </tr>
        </thead>
        <tbody id="sales_table_body">
            {% for sale in sales %}
                {% with sale as purchase %}
                    {% include 'sales_row.html' %}
                {% endwith %}
            {% endfor %}
        </tbody>
        </table>
    </div>
    <script>
        sorttable.sort_alpha = function(a,b) {
            return a[0].localeCompare(b[0]);
        };
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches = [];
                var substrRegex = new RegExp(q, 'i');
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
              };
        };

        var tags  = JSON.parse("{{ product_tags }}".replace(/&quot;/g,'"'));

        function addTypeahead($selection) {
            $selection.typeahead({
                hint: true,
                highlight: true,
                minLength: 1,
                freeInput: false
            }, {
                name: 'productsBloodhood',
                source: substringMatcher(tags)
            }).blur(function(){
                if(tags.indexOf($(this).val()) === -1) {
                    $(this).val("");
                }
            });
        }
        addTypeahead($('#id_category'));

        $.delete = function(url, data, callback, type){
            if ( $.isFunction(data) ){
                type = type || callback,
                    callback = data,
                    data = {}
            }

            return $.ajax({
                url: url,
                type: 'DELETE',
                success: callback,
                data: data,
                contentType: type
            });
        };

        $(document).on('click', "#submit_sale", function (event){
            event.preventDefault();
            console.log('submit_sale button clicked');
            var url = "{% url 'cashier:add_sale' slug=cashier_secret %}";
            $.post(url, $('#new_sale_form').serialize()).done(
                function (dataRaw) {
                    var data = JSON.parse(dataRaw);
                    update_messages(data);
                    $('#sales_table_body').append(data['html']);
                    $('#form_div').html(data['new_form']).trigger('change');
                    addTypeahead($('#id_category'));
                    var myTH = document.getElementsByTagName("th")[0];
                    sorttable.innerSortFunction.apply(myTH, []);
{#                    var table = document.getElementById('sales_table');#}
{#                    sorttable.makeSortable(table);#}
{#                    sorttable.init()#}

                }
            ).fail(
                function (jqXHR, status, errorThrown) {
                    var data = JSON.parse(jqXHR.responseText);
                    update_messages(data);
                    $('#form_div').html(data['html']).trigger('change');
                    $('#submit_sale').trigger('change');
                    addTypeahead($('#id_category'));
                }
            );
        });

        $(document).on('click', '.delete', function (event) {
            event.preventDefault();
            console.log('submit_sale button clicked');
            var url = "{% url 'cashier:add_sale' slug=cashier_secret %}" + '/' + $(this).attr('id');
            var buttonId = $(this).attr('id');
            bootbox.confirm({
                size: "small",
                message: 'Вы уверены что хотите <b>удалить</b> эту продажу?',
                buttons: {
                    confirm: {
                        label: 'Да',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Нет',
                        className: 'btn-success'
                    }
                },
                callback: function (result) {
                    if(result){
                        $.delete(url).done(
                            function (dataRaw) {
                                var data = JSON.parse(dataRaw);
                                update_messages(data);
                                var rowId = '#sales-row' + buttonId;
                                $(rowId).remove();
                            }
                        ).fail(
                            function (jqXHR, status, errorThrown) {
                                var data = JSON.parse(jqXHR.responseText);
                                update_messages(data);
                            }
                        );
                    }
                }
            });
        });

        function update_messages(data) {
            var messages = data['messages'];
            $('#messages').html(messages).trigger('change');
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
{% endblock %}