{% for message in messages %}
    <div class="alert alert-{{ message.level_tag }} alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
{% endfor %}