{#<div class="row">#}
<tr id="sales-row{{ purchase.id }}">
    <td><span class="date" style="display: none">{{ purchase.created|date:"U" }}</span>{{ purchase.created }}</td>
    <td>{{ purchase.sum }}</td>
    <td>{{ purchase.category }}</td>
    <td>{{ purchase.client.code }}</td>
    {% if purchase.is_deletable %}
    <td><button class="btn btn-danger delete" id="{{ purchase.id }}">Удалить</button></td>
    {% endif %}
</tr>
{#</div>#}